@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.container{
    position: relative;
    width: 1440px;
    height: 135vh;
    background: #FFFFFF;
}

h2{
    position: absolute;
    width: 365px;
    height: 93px;
    left: 124px;
    top: 91px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    /* or 56px */
    color: #000000;
}

.text{
    position: absolute;
    width: 662px;
    height: 374px;
    left: 124px;
    top: 202px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */
    color: #000000;
}

.man{
    position: absolute;
    width: 314px;
    height: 315px;
    left: 976px;
    top: 226px;
    background: url(11png);
}

.photo{
    position: absolute;
    width: 232px;
    height: 203px;
    left: 124px;
    top: 670px;
    background: url(photo.png);
}

.ellipse{
    position: absolute;
    width: 366px;
    height: 59px;
    left: 950px;
    top: 511px;
}

.bottom-first{
    position: absolute;
    width: 150px;
    height: 39px;
    left: 488px;
    top: 740px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    /* or 32px */
    color: #000000;
}

.alttext-first{
    position: absolute;
    width: 150px;
    height: 39px;
    left: 488px;
    top: 780px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */


    color: #000000;
}
.bottom-second{
    position: absolute;
    width: 150px;
    height: 39px;
    left: 733px;
    top: 740px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    /* or 32px */
    color: #000000;
}
.alttext-second{
    position: absolute;
    width: 150px;
    height: 39px;
    left: 733px;
    top: 780px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */


    color: #000000;
}
.bottom-third{
    position: absolute;
    width: 150px;
    height: 39px;
    left: 976px;
    top: 740px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    /* or 32px */


    color: #000000;
}
.alttext-third{
    position: absolute;
    width: 150px;
    height: 39px;
    left: 976px;
    top: 780px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */   


    color: #000000;
}

@media(max-width: 1400px) and (min-width: 834px){
    .container{
        position: relative;
        width: 834px;
        height: 633px;

        background: #FFFFFF;

    }
    h2{
        position: absolute;
        width: 211.4px;
        height: 53.86px;
        left: 72px;
        top: 56px;

        font-family: Roboto Slab;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 101.38%;
        /* or 32px */


        color: #000000;
    }
    .text{
        position: absolute;
        width: 383.41px;
        height: 216.61px;
        left: 72px;
        top: 120.29px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        /* or 21px */


        color: #000000;
    }
    .bottom-first{
        position: absolute;
        width: 86.88px;
        height: 22.59px;
        left: 72px;
        top: 407px;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 130%;
        /* or 19px */


        color: #000000;
    }
    .bottom-second{
        position: absolute;
        width: 86.88px;
        height: 22.59px;
        left: 213.9px;
        top: 407px;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 130%;
        /* or 19px */


        color: #000000;
    }
    .bottom-third{
        position: absolute;
        width: 86.88px;
        height: 22.59px;
        left: 354.63px;
        top: 407px;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 130%;
        /* or 19px */


        color: #000000;
    }
    .alttext-first{
        position: absolute;
        width: 86.88px;
        height: 22.59px;
        left: 72px;
        top: 430.17px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 130%;
        /* or 14px */


        color: #000000;
    }
    .alttext-second{
        position: absolute;
        width: 108px;
        height: 23px;
        left: 214.1px;
        top: 429.95px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 130%;
        /* or 14px */


        color: #000000;
    }
    .alttext-third{
        position: absolute;
        width: 86.88px;
        height: 22.59px;
        left: 354.63px;
        top: 430.17px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 130%;
        /* or 14px */


        color: #000000;
    }
    .photo{
        display: none;
    }
    .man{
        position: absolute;
        width: 181.86px;
        height: 182.44px;
        left: 565.45px;
        top: 134.19px;

        background: url(_1.png);

    }
}
@media(max-width: 834px) and (min-width: 375px){
    .container{
        position: relative;
        width: 375px;
        height: 776px;

        background: #FFFFFF;
    }
    h2{
        position: absolute;
        width: 170.08px;
        height: 43.34px;
        left: 36px;
        top: 56px;

        font-family: Roboto Slab;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 101.38%;
        /* or 26px */


        color: #000000;
    }
    .text{
        position: absolute;
        width: 308.47px;
        height: 174.27px;
        left: 36px;
        top: 107.72px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;
        /* or 18px */


        color: #000000;
    }
    .man{
        position: absolute;
        width: 146.32px;
        height: 146.78px;
        left: 113.12px;
        top: 338px;

        background: url(_1.png);

    }
    .ellipse{
        position: absolute;
        width: 170.55px;
        height: 27.49px;
        left: 101px;
        top: 470.8px;

        background: #EFEFEF;
    }
    .photo{
        display: none;
    }
    .bottom-first{
        position: absolute;
        width: 69.9px;
        height: 18.17px;
        left: 35px;
        top: 544px;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 130%;
        /* or 16px */


        color: #000000;

    }
    .bottom-second{
        position: absolute;
        width: 69.9px;
        height: 18.17px;
        left: 154.16px;
        top: 544px;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 130%;
        /* or 16px */


        color: #000000;
    }
    .bottom-third{
        position: absolute;
        width: 69.9px;
        height: 18.17px;
        left: 35px;
        top: 615px;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 130%;
        /* or 16px */


        color: #000000;

    }
    .alttext-first{
        position: absolute;
        width: 86px;
        height: 18px;
        left: 35px;
        top: 563px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 130%;
        /* or 13px */


        color: #000000;

    }
    .alttext-second{
        position: absolute;
        width: 86.89px;
        height: 18.5px;
        left: 154.33px;
        top: 562.46px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 130%;
        /* or 13px */


        color: #000000;

    }
    .alttext-third{
        position: absolute;
        width: 76px;
        height: 18px;
        left: 35px;
        top: 634px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 130%;
        /* or 13px */


        color: #000000;

    }
}